/* FLEX OPTIONS:

  display: flex;
  flex-direction: row, column, column-reverse, row-reverse; (sets main axis)
  flex-wrap: wrap, nowrap;
  justify-content: center; flex-end; flex-start; space-between; space-around; space-evenly;
  align-content: flex-start; flex-end; center; (center option is working only with wrap option) 
  flex-basis: ; (base size for element)
  flex-grow: ;
  flex-shrink: ; (This is working only with sets nowrap!!!)
  order: ; (Sets the order of elements)
  
*/

.one {
  display: flex;
}

.two {
  display: flex;
  flex-direction: column;
}

.three {
  display: flex;
  flex-direction: column-reverse;
}

.four {
  display: flex;
  flex-direction: row-reverse;
}

.five {
  display: flex;
  flex-wrap: wrap;
}

.six {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.seven {
  display: flex;
  justify-content: center;
}

.eight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nine {
  display: flex;
  justify-content: flex-end;
}

.ten {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eleven {  
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.twelve {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.thirteen {
  display: flex;
  justify-content: space-between;
}

.fourtheen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.fifteen {
  display: flex;
  justify-content: space-around;
}

.sixtheen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}

.seventeen {
  display: flex;
  justify-content: space-evenly;
}

.eightheen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}

.ninetheen {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: 100px;
  flex-shrink: 1;
  transition: flex-grow 0.3s ease-in-out;
  order: 0;
}

.card:hover {
  flex-shrink: 0;
} */

