/* FLEX OPTIONS:

  display: flex;
  flex-direction: row, column, column-reverse, row-reverse; (sets main axis)
  flex-wrap: wrap, nowrap;
  justify-content: center; flex-end; flex-start; space-between; space-around; space-evenly;
  align-content: flex-start; flex-end; center; 
  flex-basis: ; (base size for element)
  flex-grow: ;
  flex-shrink: ; (This is working only with sets nowrap!!!)
  order: ; (Sets the order of elements)
  
*/

.one {
  display: flex;
}

.two {
  display: flex;
  flex-direction: column;
}

.three {
  display: flex;
  flex-direction: column-reverse;
}

.four {
  display: flex;
  flex-direction: row-reverse;
}

.five {
  display: flex;
  flex-wrap: wrap;
}

/* .card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: 100px;
  flex-shrink: 1;
  transition: flex-grow 0.3s ease-in-out;
  order: 0;
}

.card:hover {
  flex-shrink: 0;
} */

